*/.classpath
*/.project
*/.gitignore.bak
*/*.iml

.classpath
.project
.gitignore.bak

## IDE

*/.settings/
*/.idea/

.settings/
.idea/

## OUTPUT

*/target/
*/bin/

target/
bin/
/.idea/workspace.xml

*.iml
